.popular-services-testimonials {
  display: flex;
  flex-wrap: wrap;
  background-color: #553121;
  color: white;
}

.popular-services {
  width: 50%;
  padding: 40px;
}

.popular-services h4 {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}

.popular-services h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.service-card {
  margin-top: 40px;
  background: white;
  padding-right: 1px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: black;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.service-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, rgba(236, 220, 191, 0.3), rgba(236, 220, 191, 0.1));
  transition: left 0.5s ease;
}

.service-card:hover::before {
  left: 100%;
}

.service-icon {
  font-size: 40px;
  margin-bottom: 5px;
  color: #ECDCBF;
  transition: color 0.3s ease;
}

.service-card:hover .service-icon {
  color: #553121;
}

.service-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.service-card:hover h3 {
  color: #ECDCBF;
}

.service-card p {
  font-size: 14px;
  color: #555;
  transition: color 0.3s ease;
}

.service-card:hover p {
  color: #777;
}

/* Testimonials Section */
.testimonials {
  width: 50%;
  padding: 40px;
  background-color: #ECDCBF;
  position: relative;
}

.testimonials h2 {
  font-size: 32px;
}

.testimonial-card {
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

/* Background Images for Testimonial Cards */
.testimonial-card-1 {
  background-image: url('../../assets/images/dermatologist.jpg');
}

.testimonial-card-2 {
  background-image: url('../../assets/images/dermatologist.jpg');
}

.testimonial-card-3 {
  background-image: url('../../assets/images/dermatologist.jpg');
}

/* Dark Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.testimonial-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.testimonial-card p {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

.testimonial-card h4 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.testimonial-card span {
  font-size: 14px;
  color: #ccc;
}

/* Slick Carousel */
.slick-prev,
.slick-next {
  color: white !important;
  z-index: 100;
}

.slick-dots li button:before {
  color: white !important;
}